// color
$color-pink: #ff385c;
$color-black: #000000;
$color-dark-gray: #717171;
$color-gray: #b0b0b0;
$color-light-gray: #ebebeb;
$color-blue: red;
$color-white: #ffffff;
$color-white-transparent: rgba(255, 255, 255, 0.5);
$color-black-transparent: rgba(0, 0, 0, 0.5);

// box shadow
$shadow-big: 0 8px 28px rgba(0, 0, 0, 0.28);
$shadow-button: 0 4px 20px rgba(0, 0, 0, 0.1);
$shadow-hover: 0 2px 4px rgba(0, 0, 0, 0.18);
$shadow-small: 0 2px 8px rgba(0, 0, 0, 0.08);

// space
$space-micro: 5px;
$space-small: 7px;
$space-middle: 10px;
$space-default: 15px;
$space-large: 20px;
$space-xlarge: 30px;

// font size
$font-micro: 5px;
$font-small: 10px;
$font-middle: 16px;
$font-large: 20px;
$font-xlarge: 28px;

//border
$border: 1px solid #dddddd;

// border radius
$border-radius-box: 30px;
$border-radius-circle: 50%;

// mixin
@mixin wrapper {
  width: 100%;
  padding: 0 5%;
  height: auto;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
